body {
    background-color: #fefefe;
}

.navbar {
    background-color: #FFF !important;
}

.hero {
    padding: 6em 0px;
    background-image: url('../../assets/images/home-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btn {

}

.form-control {
    border-radius: 0;
    border: 0px solid transparent;
}

.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer.bg-dark {
    color: #ccc;
}

footer.bg-dark .footer-menu li {
    margin-bottom: 16px;
}

footer.bg-dark .footer-menu li > a {
    text-decoration: none;
    color: #ccc;
}

.widget-menu {
    border: 1px solid #ccc;
    padding: 8px 16px;
}

.widget-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.widget-menu li > a {
    padding: 8px 0;
    display: block;
}